/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require units
 *= require inquiries
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#main {
  margin-top: 102px;
  margin-bottom: 102px;
}

.navbar {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navy {
  color: #003A79 !important;
  border: none !important;
}

.light-blue {
  color: #5E8BB4 !important;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-size: 12px;
}

.red {
  color: #FE4A2C;
}

.btn-red {
  border-radius: 0px;
  background-color: #FE4A2C;
  color: #FFFFFF !important;
  font-size: 13px !important;
  font-weight: bold !important;
  padding: 15px 35px 15px 35px !important;
  border: none !important;
}

.btn-red:hover {
  color: #FFFFFF !important;
  background-color: red;
  border: none !important;
}

.form-control {
  border-radius: 0px;
  border: none;
  padding: 25px 25px 25px 25px;
}

.form-section-wrapper {
  background-color: #003A79;
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.nav-link {
  color: #5E8BB4 !important;
  border: none !important;
  font-size: 16px;
}

.nav-link:hover {
  background: none !important;
}

.close a {
  border-bottom: none !important;
}

.inquiry-header {
  background: #5E8BB4;
  color: #FFFFFF;
}
