/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require units
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#main {
  margin-top: 102px;
  margin-bottom: 102px;
}

.navbar {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navy {
  color: #003A79 !important;
}

.light-blue {
  color: #5E8BB4 !important;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-size: 12px;
}

.btn-red {
  border-radius: 0px;
  background-color: #FE4A2C;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
}

.btn-red:hover {
  color: #FFFFFF;
  background-color: red;
}
