// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: 1px solid #003A79 !important;
  border-radius: 0px !important;
}

.panel-heading {
  background-color: #003A79;
  border-radius: 0px !important;
}

.panel-heading a {
  color: #FFFFFF !important;
  border: none !important;
}

.unit-description {
  margin-bottom: 50px;
}
