// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: 1px solid #003A79 !important;
  border-radius: 0px !important;
}

.unit-description {
  margin-top: 25px;
  margin-bottom: 50px;
}
